page-main {
	#profileIcon {
		height:32px;
	}

	ion-buttons {
		padding-right: 0.5em;
	}

	#horizontalSlider {
		height: 30%;
		margin-bottom: 1em;
	}

	#verticalSlider {
		height: 67%;
	}

	#fabButton {
		bottom: 0;
		right: 0;
		margin-bottom: 1.5em;
		margin-right: 1.5em;
	}

	#fabIconButton {
		background-color: darkorange;
		color: black;
	}

	#loadingSpinner * {
		margin-top: 0.5em;
		stroke: #f31c38;
		position: absolute;
	}

	#spinnerContainer {
		text-align: center;
		margin-top: 35%;
	}
}
