page-main {
	#profileIcon {
		height:32px;
	}

	ion-buttons {
		padding-right: 0.5em;
	}

	#horizontalSlider {
		height: 12em;
		margin-bottom: 1em;
	}

	#verticalSlider {
		height: 27.5em;
	}

	#fabButton {
		bottom: 0;
		right: 0;
		margin-bottom: 1.5em;
		margin-right: 1.5em;
	}

	#fabIconButton {
		background-color: red;
		color: black;
	}



}
