page-add-payment {
	#nextButton {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom: 1em;
	}

	#profileIcon {
		text-align: center;
		margin-top: 2em;
	}

	img {
		width: 4.5em;
	}

	span {
		display: block;
	}

	#textInputFields {
		margin-bottom: 2em;
	}

	/*ion-input[type=number]:before {
    content: "$";
	}*/

	#paidAndDateContainer {
		margin-top: 4em;
	}

	#centeredContainer {

	}
}
