page-start-up {
	#centerBottom {
		position: absolute;
		bottom: 4em;
		width: 100%;
		text-align: center;
		margin-left: -16px; /* For centering button */
	}

	#startUpSlide {
		color: lightgrey;
		padding-top: 5em;
		height: 25em;
	}

	.startUpPageContent{
		background-image: url('../../assets/imgs/startup-background.jpg');
		background-repeat: no-repeat;
	    background-size: cover;
	}
}
