page-vertical-slider {
	#verticalSlider {
		border-top: 2px solid black;

		.slide-zoom {
			top: 0;
			position: absolute;
			border-bottom: 0.5px solid black;
			height: inherit;
		}

		.dataAmount {
			margin-right: 0.25em;		
		}

		.dataPerson {
			color: grey;
			font-size: 0.65em;
		}

		.dataPerson, .dataDescription {
			text-align: left;
			margin: 0;
			padding-left: 5%;
		}

		.dataPerson, .dataDescription, .dataAmount {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.dataDate {
			font-size: 0.65em;
			display: block;
			color: grey;
			padding-top: 0.5em;
		}

		.dataStatusIcon {
			height: 1em;
		}
	
		#flex-container {
		    display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    width: 100%;
		    height: 100%;
		    margin: 0 auto;
		    align-items: center;
		}

		.leftContainer {
		    width: 25%;
		    height: 80%;
		    border-right: 1px grey solid;
		}

		.middleContainer {
			width: 50%;
		}

		.rightContainer {
			display: inline-flex;
		    align-items: center;
		    justify-content: flex-end;
			width: 30%;			
		}

		.leftContainer, .middleContainer {
			display: inline-flex;
		  	flex-direction: column;
			justify-content: center;
			overflow: hidden;
		}
	}
}
